<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>

  <system.web>
    <machineKey validationKey="72F1412D8684C3AD66E3E8A35CD7BAA4E0DCF2538B2132215B7480C54F10D158FC05C23823C8C6B0D5217A0853C30362543425300389067E186EAC9EDA8219BA" decryptionKey="8FFD5A7E5E866B18BCB6DF222C80F0CD7FCBAA4D7A4BAB2CA0F1ED8EB14AA233" validation="SHA1" decryption="AES" />

    <customErrors mode="Off"/>

    <trust level="Full" />
    <sessionState timeout="120"></sessionState>


    <pages validateRequest="false" enableEventValidation="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=.; Integrated Security=true;Initial Catalog=StitchQueue" />
    <add name="dbconnection1" connectionString="Data Source=.; Integrated Security=true;Initial Catalog=StitchQueue" />
    <add name="StitchQueueConnectionString" connectionString="Data Source=.; Integrated Security=true;Initial Catalog=StitchQueue" />
    <add name="StitchQueueConnectionString2" connectionString="Data Source=.; Integrated Security=true;Initial Catalog=StitchQueue" />
    <add name="StitchQueueConnectionString3" connectionString="Data Source=.; Integrated Security=true;Initial Catalog=StitchQueue" />
    <add name="StitchQueueConnectionString4" connectionString="Data Source=.; Integrated Security=true;Initial Catalog=StitchQueue" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="C:\Inetpub\vhosts\stitchq.in\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\Inetpub\vhosts\stitchq.in\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\Inetpub\vhosts\stitchq.in\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\Inetpub\vhosts\stitchq.in\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\Inetpub\vhosts\stitchq.in\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\stitchq.in\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\stitchq.in\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\stitchq.in\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\stitchq.in\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\stitchq.in\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\stitchq.in\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\stitchq.in\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\stitchq.in\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\stitchq.in\error_docs\bad_gateway.html" />
    </httpErrors>

    <!--rewrite engine url code-->

    <rewrite>
      <rules>
        <rule name="RewriteASPX">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
      </rules>
    </rewrite>



  </system.webServer>
</configuration>
