#contact
  {
    padding: 50px;
  }
  .input-text
  {
    height: 50px;
  }
  .area
  {
    height: 120px !important;
  }
  .form-control
  {
     -moz-box-shadow: inset -3px -3px 10px #eee;
   -webkit-box-shadow: inset -3px -3px 10px #eee;
   box-shadow: inset -3px -3px 10px #eee;
   border-radius: 15px !important;
  }
   .btn-enquiry
  {
   padding: 5px;
   padding-bottom: 15px !important;
   padding-left: 10px;
   width: 130px;
   text-align: center;
   padding-right: 10px;
   background: #E1204F;
   color: #fff;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   height: 33px;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #E1204F, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

  }
   .btn-enquiry:hover
  {
    padding: 5px;
   padding-bottom: 15px !important;
   padding-left: 10px;
   width: 130px;
   text-align: center;
   padding-right: 10px;
   background: #E1204F;
   color: #fff;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   height: 33px;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #E1204F, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

  }
  .btn-enquiry:active
  {
    padding: 5px;
   padding-bottom: 15px !important;
   padding-left: 10px;
   width: 130px;
   text-align: center;
   padding-right: 10px;
   background: #E1204F;
   color: #fff;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   height: 33px;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #E1204F, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

  }
  .btn-enquiry:focus
  {
    padding: 5px;
   padding-bottom: 20px;
   padding-left: 20px;
   width: 130px;
   text-align: center;
   padding-right: 10px;
   background: #E1204F;
   color: #fff;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   height: 33px;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #E1204F, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

  }
